/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIM RESET */
html {
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
	height: auto;
}
body {
    background-color: #fff;
}
.head {
	margin: 0;
	text-align: center;
}
p, div {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 5vmin;
}
.lines {
	width: 100%;
	background-color: #ffd27c;
	margin: 20px 0 0;
	transition: color;
}
.fline {
	height: 5px;
}
.fline:first-child {
	height: 25px;
	margin: 0;
}
.sline {
	height: 10px;
}
.tline {
	height: 20px;
}
.descrip {
	padding: 10px 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.descrip > p {
	font-size: 4.5vmin;
	line-height: 200%;
}
.buttonLink {
	display: flex;
	text-align: center;
}
.buttonLink > a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-size: 5vmin;
	text-decoration: none;
}
.btnDown {
	margin: 0 auto;
	background-color: #ffd27c;
	padding: 10px 30px;
	border-radius: 0 0 0.5rem 0.5rem;
	text-align: center;
	color: #464427;
	box-shadow: 0 6px 5px 0 rgba(0,0,0,0.10), 0 6px 10px 0 rgba(0,0,0,0.10);
}
.sections {
	background-color: #ffd27c;
	background: linear-gradient(-45deg, #ffd27c 0%, #ffd27c 57%, transparent 57%), linear-gradient(25deg, #ffd27c 0%, #ffd27c 57%, #ffbe3b 57%);
	margin: 18px 0 0 0;
	overflow: hidden;
	padding: 15px 0;
	padding-bottom: 5%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.sectionsTitle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	color: #464427;
	text-align: center;
	line-height: 150%;
}
.sectionsContent {
	text-align: center;
	align-items: center;
}
.sectionsContent > p {
	font-size: 3.5vmin;
	text-align: center;
	font-style: italic;
}
p > a {
	text-decoration: none;
}
.sectionsContent > .servicosDesc {
	font-size: 4vmin;
	font-style: normal;
	line-height: 200%;
}
.sectionsContent > img {
	width: 80%;
}
.mySlides > img {
	width: 80%;
}
.text {
	font-size: 12px;
	font-size: 3.5vmin;
	text-align: center;
	font-style: italic;
}
.text > a {
	text-decoration: none;
}
.socialMediaBtn {
	cursor: pointer;
	width: 150px;
	height: 45px;
	padding: 15px;
	color: #fff;
	border: none;
	border-radius: .125rem;
	font-size: .81rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.insta {
	background: #2e5e86;
	background-image: linear-gradient(to top right, #fa8937, #a50ab7);
}
.whatss {
	background: #25d366;
}
.footer {
	background-color: #ffd27c;
	margin: 20px 0 0 0;
	overflow: hidden;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer > p {
	font-size: 3.5vmin;
	text-align: center;
}

/* Media Queries: Tabled Portrait */
@media screen and (min-width: 500px) {
	.descrip > p {
		font-size: 23px;
	}
	.buttonLink > a {
		font-size: 22px;
	}
	p, div {
		font-size: 28px;
	}
	.text {
		font-size: 18px;
	}
	.sectionsContent > p {
		font-size: 18px;
	}
	.sectionsContent > .servicosDesc {
		font-size: 23px;
	}
	.footer > p {
		font-size: 18px;
	}
}

@media screen and (min-width: 600px) {
	.socialMediaBtn {
		width: 250px;
		height: 75px;
		padding: 15px;
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 768px) {
	.imgBack > img {
		width: 768px;
	}
	.mySlides > img {
		width: 615px;
	}
	.sectionsContent > img {
		width: 615px;
	}
}
