/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIM RESET */
html {
	scroll-behavior: smooth;
}
body {
    background-color: #fff;
}
.head {
	margin: 0;
	text-align: center;
}
p, div {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 5vmin;
}
.lines {
	width: 100%;
	background-color: #ffd27c;
	margin: 20px 0 0;
	transition: color;
}
.fline {
	height: 5px;
}
.sline {
	height: 10px;
}
.tline {
	height: 20px;
}
.descrip {
	padding: 10px 0;
}
.descrip > p {
	font-size: 4.5vmin;
	line-height: 200%;
}
.buttonLink {
	display: flex;
	text-align: center;
}
.buttonLink > a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-size: 5vmin;
	text-decoration: none;
}
.btnDown {
	margin: 0 auto;
	background-color: #ffd27c;
	padding: 10px 30px;
	border-radius: 0 0 0.5rem 0.5rem;
	text-align: center;
	color: #464427;
}
.logos, .paginas {
	background-color: #ffd27c;
	margin: 18px 0 0 0;
	overflow: hidden;
	padding: 15px 0;
	padding-bottom: 5%;
}
.logosTitle, .paginasTitle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	color: #464427;
}
.logosContent, .paginasContent {
	text-align: center;
	align-items: center;
}
.logosContent > p, .paginasContent > p {
	font-size: 12px;
	font-size: 3vmin;
	text-align: center;
	font-style: italic;
}
.footer {
	background-color: #ffd27c;
	margin: 20px 0 0 0;
	overflow: hidden;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer > p {
	font-size: 12px;
	font-size: 3vmin;
	text-align: center;
}
